/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  height: 100%;
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  height: 100vh;
  padding: var(--decorated-zone-padding);
}

.header__title {
  color: var(--title-color);
  font-weight: var(--accent-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-style: solid;
  border-color: var(--accent-details-color);
  border-inline-end-width: 1px;
  border-block-start-width: 1px;
  inset-block-start: var(--decorated-zone-padding);
  inset-inline-end: var(--decorated-zone-padding);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-width: 0px;
  border-style: solid;
  border-color: var(--accent-details-color);
  border-inline-start-width: 1px;
  border-block-end-width: 1px;
  inset-block-end: var(--decorated-zone-padding);
  inset-inline-start: var(--decorated-zone-padding);
}

.decorated-zone__text {
  position: absolute;
  display: var(--display-dark);
  inset-block-start: var(--decorated-zone-padding);
  inset-inline-end: var(--decorated-zone-padding);
}

.decorated-zone__text::before {
  content: "rec";
  color: var(--accent-details-color);
  text-transform: uppercase;
}

.decorated-zone__text::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 8px 9px 0px 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-details-color);
  background: var(--accent-details-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--accent-details-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, currentColor 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  margin-block-end: -1px;
  border-block-end: 1px solid currentColor;
}

.title-decor {
  flex-wrap: wrap;
  justify-self: end;
  align-self: center;
  background-color: var(--accent-bg-color);
}

.header__paragraph {
  color: var(--description-color);
  font-weight: var(--accent-font-weight);
  line-height: 130%;
}

@media (width >= 768px) {
  .title-decor {
    width: 50%;
  }
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}

.footer {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  padding: var(--decorated-zone-padding);
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  font-weight: var(--accent-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .page {
    --decorated-zone-padding: 20px;
  }
}
